<html lang="en">
<body>
<div class="navbar-top">
  <div class="title">
    <h1>Candidates</h1>
  </div>
</div>
  <div class="container-lg">
    <div class="row">
      <div class="col-md-6" *ngFor="let candidate of candidate_list | async" style="margin-top: 50px">
        <div class="card" style="margin-right: 50px;">
          <div class="row">
            <div class="col-md-4" style="object-fit: cover;">
              <img src="{{ candidate.image }}" alt="Profile Picture" class="img-fluid" [routerLink]="['/candidates/'+ candidate.candidate_id]" style="cursor: pointer" >
              <p style="margin-left: 35px; cursor: pointer" [routerLink]="['/parties/'+ candidate.party_id]">{{ candidate.party_name }}</p>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><b>{{ candidate.candidate_firstname }} {{ candidate.candidate_lastname}}</b></h5>
                <p class="card-text">{{ candidate.statement }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
