<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .container img {
      width: 50%;
      height: 100%;
      object-fit: cover;
      margin-left: 250px;
      margin-top: 100px;
    }
  </style>
</head>
<body style="background-color: #e8f5ff;">
  <div class="navbar-top">
    <div class="title">
      <h1>Home</h1>
    </div>
  </div>
  <div class="container" style="margin-top: 20px">
    <img src="https://com668storage.blob.core.windows.net/com668container/LogoMakr-6Ks8ZA.png" alt=""/>
  </div>
</body>
</html>
