<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Heroic Features - Start Bootstrap Template</title>
    </head>
    <body>
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">Welcome to the Online Election System!</h1>
                        <p class="fs-4">Thanks for visiting, This application has been built to provide a secure and convenient means of casting votes online, lets get started!</p>
                        <a class="btn btn-primary btn-lg" href="/verification">Haven't registered?</a>
                    </div>
                </div>
            </div>
        </header>
        <section class="pt-4">
            <div class="container px-lg-5">
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <i class="fas fa-sign-in-alt icon-large"></i>
                                <h2 class="fs-4 fw-bold">Already Registered?</h2>
                                <p class="mb-0">Sign in here!</p>
                              <a class="btn btn-primary btn-sm" href="/login" style="margin-top: 20px">Login</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <i class="fas fa-users fa-fw me-3 icon-large"></i>
                                <h2 class="fs-4 fw-bold">View Candidates</h2>
                                <p class="mb-0">Want to see the candidates standing in the current election?</p>
                              <a class="btn btn-primary btn-sm" href="/candidates" style="margin-top: 20px">Candidates</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <i class="fas fa-address-book fa-fw me-3 icon-large"></i>
                                <h2 class="fs-4 fw-bold">View Parties</h2>
                                <p class="mb-0">Want to see the parties being represented in this election?</p>
                              <a class="btn btn-primary btn-sm" href="/candidates" style="margin-top: 20px">Parties</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <i class="fas fa-check fa-fw me-3 icon-large"></i>
                                <h2 class="fs-4 fw-bold">Vote!</h2>
                                <p class="mb-0">Cast your vote for your preferred candidates here!</p>
                              <a class="btn btn-primary btn-sm" href="/vote" style="margin-top: 20px">Vote Here</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                              <i class="fas fa-question fa-fw me-3 icon-large"></i>
                                <h2 class="fs-4 fw-bold">Have Any Questions?</h2>
                                <p class="mb-0">Make use of our trained chatbot to any queries you may have!</p>
                              <a class="btn btn-primary btn-sm" href="/faq" style="margin-top: 20px">Help</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <i class="fas fa-chart-bar fa-fw me-3 icon-large"></i>
                                <h2 class="fs-4 fw-bold">View Statistics</h2>
                                <p class="mb-0">See how the current election is going!</p>
                              <a class="btn btn-primary btn-sm" href="/voting-data" style="margin-top: 20px">Voting Data</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
