<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="party.component.css">
</head>
<body>
<div class="navbar-top">
  <div class="title">
    <h1>{{party_list.party_name}}</h1>
  </div>
</div>
<div class="image-container">
  <img src="{{party_list.image}}" alt="Party Image" style="margin-top: 120px">
</div>
<div class="main">
  <div class="card" style="margin-right: 200px; margin-top: 150px">
    <div class="card-body">
      <table>
        <tbody>
        <tr>
          <td>Name:</td>
          <td></td>
          <td><b>{{party_list.party_name}}</b></td>
        </tr>
        <tr>
          <td>Manifesto:</td>
          <td></td>
          <td>{{party_list.manifesto}}</td>
        </tr>

        </tbody>
      </table>
    </div>

  </div>

</div>

</body>
</html>
