<div class="container" style="margin-top:120px;">
  <div class="row">
    <div class="col">
      <div *ngFor="let party of party_list | async">
        <div class="card mb-3" style="max-width: 1000px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{party.image}}" class="img-fluid rounded-start" alt="..." style="cursor: pointer" [routerLink]="['/parties/'+ party.party_id]">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{party.party_name}}</h5>
                <p class="card-text">{{party.manifesto}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- col -->
  </div> <!-- row -->
</div> <!-- container -->
