<section style="background-color: #eee;">

  <div class="container-fluid container py-5" style="height: 810px">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <img src="{{party_list.image}}">
              </ul>
            </div>
          </div>
      </div>
      <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <h2>{{party_list.party_name}} Manifesto</h2>
              {{party_list.manifesto}}
            </div>
          </div>

      </div>
    </div>
  </div>
</section>
