<html lang="en">
<body>
<div class="navbar-top">
  <div class="title">
    <h1>Parties</h1>
  </div>
</div>
  <div class="container-lg">
    <div class="row">
      <div class="col-md-6" *ngFor="let party of party_list | async" style="margin-top: 50px">
        <div class="card" style="margin-right: 50px;">
          <div class="row">
            <div class="col-md-4">
              <img src="{{ party.image }}" alt="Profile Picture" class="img-fluid" [routerLink]="['/parties/'+ party.party_id]" style="cursor: pointer">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><b>{{ party.party_name }}</b></h5>
                <p class="card-text">{{ party.manifesto }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
