<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="password_change.component.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <h2>Change Password</h2>
    <form>

      <div class="form-group">
        <label for="newPassword">Password:</label>
        <input class="form-control" input type="password" [(ngModel)]="newPassword" name ="newPassword" id="newPassword" placeholder="New Password" required />
      </div>
      <button (click)="updatePassword()" routerLink='/profile' class="btn btn-secondary">Login</button>
    </form>
  </div>
</body>

