<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="profile.component.css">
</head>
<body>
<div class="navbar-top">
  <div class="title">
    <h1>Profile</h1>
  </div>
</div>
<div class="main">
  <h2>IDENTITY</h2>
  <div class="card" style="margin-right: 300px">
    <div class="card-body">
      <table>
        <tbody *ngIf="profile; else elseBlock">
        <tr>
          <td>Name:</td>
          <td></td>
          <td>{{profile.first_name}} {{profile.last_name}}</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td></td>
          <td>{{profile.email}}</td>
        </tr>
        <tr>
          <td>Constituency:</td>
          <td></td>
          <td>{{profile.constituency_name}}</td>
        </tr>
        <tr>
          <td>Government ID:</td>
          <td></td>
          <td>{{profile.gov_id}}</td>
        </tr>
        <tr>
          <td>Password:</td>
          <td></td>
          <td><button routerLink='/profile/{{profile.gov_id}}' class="btn btn-secondary">Change Password</button></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>

</body>
<ng-template #elseBlock>Must Login to See Profile</ng-template>
</html>
