<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: #e8f5ff;">
<div class="navbar-top">
  <div class="title1">
    <h1>Vote</h1>
  </div>
</div>
  <div class="container" style="margin-top: 20px">
    <div class="row" *ngIf="voter_id; else elseBlock">
      <div class="remaining-votes">
<p>Remaining positive votes: {{ remaining_positive_votes }}</p>
<p>Remaining negative votes: {{ remaining_negative_votes }}</p>
</div>
      <div class="col-md-6" *ngFor="let candidate of candidate_list | async">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="card">
              <img src="{{candidate.image}}" style="width:100%">
              <h1>{{candidate.candidate_firstname}}</h1>
              <h1>{{candidate.candidate_lastname}}</h1>
              <p class="title">{{candidate.party_name}}</p>
              <p><button class="button1" (click)="onVoteButtonClick(1, candidate)">+</button>
                <button class="button2" (click)="onVoteButtonClick(-1, candidate)">-</button></p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<ng-template #elseBlock>Must Login to Vote</ng-template>
</body>

</html>

